global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  10m
    timeout server  10m

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats realm Strictly\ Private
    stats auth admin:admin

frontend patroni_master
    bind *:5000
    mode tcp
    default_backend patroni_master_backend

frontend patroni_replicas
    bind *:5001
    mode tcp
    default_backend patroni_replicas_backend

frontend patroni_api
    bind *:8443
    mode http
    default_backend patroni_api_backend
    option forwardfor

backend patroni_master_backend
    mode tcp
    balance roundrobin
    default-server inter 3s fall 3 rise 2
{% for host in groups['promoters'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ postgresql_port }} check
{% endfor %}

backend patroni_replicas_backend
    mode tcp
    balance roundrobin
    default-server inter 3s fall 3 rise 2
{% for host in groups['promoters'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ postgresql_port }} check
{% endfor %}

backend patroni_api_backend
    mode http
    balance roundrobin
    option httpchk GET /cluster
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
{% for host in groups['promoters'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ patroni_api_port }} check
{% endfor %} 