name: "etcd{{ node_id }}"
data-dir: /var/lib/etcd
listen-peer-urls: http://{{ ansible_host }}:2380
listen-client-urls: http://{{ ansible_host }}:2379,http://127.0.0.1:2379
initial-advertise-peer-urls: http://{{ ansible_host }}:2380
advertise-client-urls: http://{{ ansible_host }}:2379
initial-cluster: "{% for host in groups['promoters'] %}etcd{{ hostvars[host]['node_id'] }}=http://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
initial-cluster-state: "{{ etcd_cluster_state | default('new') }}"
initial-cluster-token: etcd-cluster-01
