name: "etcd{{ node_id }}"
data-dir: /var/lib/etcd
listen-peer-urls: http://{{ ansible_host }}:2380
listen-client-urls: http://{{ ansible_host }}:2379,http://127.0.0.1:2379
initial-advertise-peer-urls: http://{{ ansible_host }}:2380
advertise-client-urls: http://{{ ansible_host }}:2379
initial-cluster: "etcd1=http://{{ hostvars['patroni1']['ansible_host'] }}:2380,etcd2=http://{{ hostvars['patroni2']['ansible_host'] }}:2380,etcd3=http://{{ hostvars['patroni3']['ansible_host'] }}:2380"
initial-cluster-state: "new"
initial-cluster-token: etcd-cluster-01
election-timeout: 5000
heartbeat-interval: 100
