[databases]
* = host={{ pgbouncer_postgresql_host }} port={{ pgbouncer_postgresql_port }}

[pgbouncer]
listen_addr = {{ pgbouncer_listen_addr }}
listen_port = {{ pgbouncer_listen_port }}
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
logfile = /var/log/pgbouncer/pgbouncer.log
pidfile = /run/pgbouncer.pid
admin_users = {{ pgbouncer_auth_user }}
pool_mode = {{ pgbouncer_pool_mode }}
server_reset_query = DISCARD ALL
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
