[Unit]
Description=Prometheus PostgreSQL Exporter
After=network.target postgresql.service

[Service]
User=postgres
Group=postgres
Type=simple
Environment=DATA_SOURCE_NAME="user=postgres host=0.0.0.0 sslmode=disable"
ExecStart=/usr/local/bin/postgres_exporter --config.file=/etc/postgres_exporter/postgres_exporter.yaml
Restart=always

[Install]
WantedBy=multi-user.target
